<div class="panel-body">
    <div class="content panel-block">
        <table>
            <tr>
                <td style="width:100px;">Sensor</td>
                <td style="width:75px;">Data</td>
                <td style="width:100px;">Feedback</td>
            </tr>
            <tr ng-repeat="sensor in sensors">
                <td>{{sensor.name}}</td>
                <td>{{sensor.data}}</td>
                <td><md-button class="md-raised md-primary" style="margin:6px 0px;" ng-click="raiseError(sensor.name)">
                    <span ng-if="sensor.state">Error</span>
                    <span ng-if="!sensor.state">Normal</span>
                </md-button></td>
            </tr>
        </table>
    </div>
</div>